.services {
    @include services-bg;

    .container {
        padding: 80px 0;

        .services_title {
            font-size: $h3;
            font-weight: $fw-semibold;
            margin-bottom: 25px;
        }

        .services-container {
            transition: $transition;
            
            .service-block {
                position: relative;
                transition: $transition;
                
                .block-header {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    padding: 30px 5%;
                    margin: 10px 0;
                    border-radius: 18px;
                    cursor: pointer;
                    // background: url("../img/maintenance-service_section.png") center / cover no-repeat;
                    transition: $transition;

                    &.block-open {

                        .block-button {
                            .line-vr {
                                transform: translate(-50%, -50%) rotate(0deg) !important;
                            }
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        top: 0;
                        border-radius: 18px;
                        @include services-bg-filter;
                    }

                    .block-title {
                        color: $white;
                        font-size: 32px;
                        font-weight: $fw-semibold;
                        position: relative;
                        z-index: 2;
                    }

                    .block-button {
                        width: 40px;
                        height: 40px;
                        position: relative;

                        .line-vr {
                            transform: translate(-50%, -50%) rotate(90deg) !important;
                        }

                        .lin-hr, .line-vr {
                            position: absolute;
                            width: 40px;
                            height: 4px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background: $white;
                            z-index: 1;
                            transition: $transition;
                        }
                    }
                }

                .block-content {
                    margin: 10px 0;
                    padding: 40px 5%;
                    border-radius: 18px;
                    background: $white;
                    overflow: hidden;
                    transition: $transition;
                    transform-origin: left top;
                    transform: scaleY(0);
                    position: absolute;
                    // top: 0;
                    left: 0;
                    right: 0;
                    // bottom: 0;
                    z-index: 2;

                    &.content-open {
                        position: relative;
                        transform: scaleY(1);
                        transition: $transition;
                    }

                    .content-list {
                        font-size: $subtext;
                        list-style: disc;

                        .content-li {
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }
}