@import "reset";
@import "variables";
@import "navMenu";
@import "headerParallax";
@import "contactButton";
@import "headerParallax";
@import "infoContainer";
@import "aboutUs";
@import "servicesSection";
@import "reachUs";
@import "gallerySlider";

body {
	font-family: 'Montserrat', sans-serif;
	width: 100%;

	.text-hover {
		transition: $transition;

            &:hover {
                text-shadow: 2px 3px 3px $fourth;
            }
	}
}
