@import "reset";
@import "variables";
@import "navMenu";
@import "headerParallax";
@import "toTopButton";
@import "contactButton";
@import "headerParallax";
@import "infoContainer";
@import "aboutUs";
@import "servicesSection";
@import "reachUs";
@import "gallerySlider";
@import "popUp";
@import "footer";

body {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	scroll-behavior: smooth;

	* {
		box-sizing: border-box;
	}

	.text-hover {
		transition: $transition;

            &:hover {
                text-shadow: 2px 3px 3px $fourth;
            }
	}
}
